<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <button id="dark-mode-toggle">Toggle Dark Mode</button>
    <a href="/" id="read-books">Go to all books</a>
    <div id="popup" class="popup">
        Book added successfully
    </div>
    <div class="container">
        <% books.forEach(function(book) { %>
            <div class="book-card">
                <img class="book-cover" src="<%= book.cover %>" alt="<%= book.title %>">
                <div class="book-details">
                    <div class="book-title">
                        <%= book.title %>
                    </div>
                    <div class="book-author">by <%= book.author %>
                    </div>
                    <div class="release-date">released:<%= book.release_date %>
                    </div> 
                    <button id="<%= book.id %>" class="unread-button" type="submit">Undo Read</button>
                </div>
            </div>
            <% }); %>
    </div>
</body>
<script src="static/script.js"></script>

</html>
